body{
    background: linear-gradient(to left, rgb(13, 84, 143), rgb(1, 200, 200), rgb(13, 84, 143));
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}
#container{
    background-color: rgba(0, 0, 0, 0.85);
    width: 90%;
    margin: 30px auto;
    max-width: 600px;
    font-size: 20px;
    color:rgb(1, 200, 200);
    box-shadow: 0 0 70px black;
}
h1{
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    height:70%;
    width: 95%;
    margin: auto;
    padding-top: 20px;
}
#description{
    text-align: center;
    height: 100%;
    width: 70%;
    margin: 10px auto;
    font-size: 20px;
    font-family: Courier, monospace;
}
input, textarea{
    background-color: rgb(1, 200, 200);
    border: none;
    border-radius: 3px;
}

#name-label, #email-label, #number-label{
    display: block;
    width: 30%;
    margin: 0 32% 0 38%;
}
#name, #email, #number{
    display: block;
    width: 73%;
    margin: 0 7% 0 3%;
}
#species-choice label{
    display: block;
    margin: 5px 0;
    text-align: left;
}
#species-choice{
    width: 50%;
    max-width: 600px;
    margin: 0 17% 0 33%;
}
#paragraf1, #paragraf2, #paragraf3{
    text-align: center;
    width: 60%;
    margin: 30px auto 10px auto;
}
#dropdown{
    display: block;
    margin: 0 auto;
    width: 13rem;
    height: 2rem;
    font-size: 1rem;
    text-align: center;
    background-color: rgb(1, 200, 200);
    border: none;
    border-radius: 10px;
}
#radiowe1, #radiowe2{
    display: block;
    font-size: 16px;
    text-align: center;
    margin: auto;
}
input[type="radio"], input[type="checkbox"]{
    width: 1rem;
    height: 1rem;
    border-radius: 4px;
    accent-color: rgb(1, 200, 200);
    vertical-align: middle;
    margin-top: 0px;
}
#other{
    resize: none;
}
input[type="radio"]:checked {  
    accent-color: rgb(150, 255, 255); 
}
input[type="checkbox"]:checked {  
    accent-color: rgb(150, 255, 255); 
}
#submit-div{
    display: block;
    text-align: center;
    margin: 20px auto 0 auto;
    width: 4rem;
    width: 50%;
    height: 40px;
    padding: 10px 0 20px 0;
}
#submit{
    width: 90%;
    height: 90%;
}
#submit:active{
    background-color: rgb(0, 146, 146);
    border: 39px solid rgb(0, 87, 87);
}
#submit:hover{
    background-color: rgb(28, 255, 255);
    border: 3px solid rgb(0, 139, 139);
}
input[type="radio"]:hover {  
    background-color: rgb(0, 87, 87); 
}
input[type="checkbox"]:hover {  
    background-color: rgb(0, 87, 87); 
    margin-right: 10px;
}
textarea {
    width: 100%; 
    box-sizing: border-box;
    max-width: 100%;
    display: block;
    margin: auto auto auto -3rem;
}
@media (max-width: 600px) {
    textarea {
        width: 100%;
        max-width: 100%;
        padding: 10px;
    }
    #species-choice{
        margin: 0 auto;
    }
}
